# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\project\myproject\my_springboot_01\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
